<h1>{{ question.question_text }}</h1>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<ul>
    {% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
</ul>

<a href="{% url 'polls:detail' question.id %}">Vote again?</a>